<!doctype html>
<html ng-app="todoApp" ng-controller="TodoListController as myApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<style>
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		  display: none !important;
		}
	</style>
</head>
<body style="background-color:#EEFF41" ng-cloak>
	
	<div ng-show="myApp.mediaListNotAvailable === true" style="margin:15px">
		Service unavailable, try again later.
	</div>
	
	<div class="row">
		<div class="col s12" ng-repeat="model in myApp.listItems">
			
			<div class="card horizontal">
				<div class="card-stacked">
					<div class="card-content">
						<p>{{model.name}}</p>
					</div>
					<div class="card-action">
						<div class="col s3" ng-repeat="item in model.items">
							<div class="card horizontal">
								<div class="card-image">
									<img src="{{item.image}}" width="142" height="209">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>{{item.name}}</p>
									</div>
									<div class="card-action">
										<a href="#" ng-click="myApp.watch()">WATCH</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="scripts/main.js"></script>

</body>
</html>